.about {
  text-align: center;
}

.about-logo {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-description {
  font-size: 20px;
  margin-bottom: 30px;
}

.about-features {
  margin-bottom: 50px;
}

.feature-icon {
  font-size: 8rem;
  color: #0069d9;
}

.feature-description {
  font-size: 18px;
}

.signup-message {
  font-size: 20px;
  margin-bottom: 20px;
}

.signup-link {
  a {
    font-size: 20px;
  }
  margin-bottom: 30px;
}