| $('.modalSection').children().remove();
| $('.modal-backdrop').remove();
| $('.modalSection').prepend('<div class="modalSection__eventEdit modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>');
| $('.modalSection').prepend('<div class="modalSection__eventDetail modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>');
| $('.modalSection').prepend('<div class="modalSection__eventForm modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>');
| $('.modalSection').prepend('<div aria-hidden="true" class="modalSection__searchDate modal fade" role="dialog" tabindex="-1"></div>');
| $('.modalSection__searchDate').html("#{escape_javascript(render 'shared/date_search_form') }");
| modal_searchDate();
| $('.modalSection__searchDate').modal("show");
