| $("#event-detail").modal("hide");
| $("#event-edit").html("#{escape_javascript(render 'shared/event_edit', { event: @event, calendars: @calendars, calendar: @calendar }) }");
| $("#event-edit").modal("show")