| $(".modalSection__eventDetail").modal("hide");
| $(".modalSection__eventEdit").html("#{escape_javascript(render 'shared/event_edit', { event: @event, calendars: @calendars, calendar: @calendar }) }");
| $(".modalSection__eventEdit").modal("show")
