.calendarEditBody {
  margin: 50px 0 30px 0;
  p {
    font-size: 18px;
    color: #6d6f72;
  }
}

.calendarEditform {
  hr {
    margin: 10px 0;
  }
}

.calendarDelete-form {
  hr {
    margin: 10px 0;
  }
  p {
    margin-top: 30px;
  }
}

.calendarDelete-link {
  margin-top: 20px;
}