@import "bootstrap";

// home page

ul {
  list-style: none;
}

.event-title {
  height: 200px;
}

// event-form modal
.datetime-select {
  width: auto;
}

// event-detail modal
.no-border {
  border: 0;
  border-bottom: solid 1px rgb(199, 199, 199);
  border-radius: 0;
}

.no-info {
  color: rgb(199, 199, 199);
}

.absentSubmit {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.displayNone {
  display: none;
}