.loginBody {
  margin: 50px 0 30px 0;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.lead {
  font-size: 10px;
  color: #6d6f72;
}

.remember-me {
  text-align: left;
}

.facebook-login {
  margin: 30px 0;
  .fa {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  a{
    color: #fff;
    background-color: #4267b2;
    width: 100%;
    padding: 10px;
    border: solid 0.5px #4267b2;
    border-radius: 5px;
    &:hover {
      color: #fff;
      background-color: #0241bd;
    }
  }
}

.google-login {
  margin-bottom: 20px;
  .fa {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  a {
    color: #fff;
    background-color: #F84F25;
    width: 100%;
    padding: 10px;
    border: solid 0.5px #F84F25;
    border-radius: 5px;
    &:hover {
      color: #fff;
      background-color: #EB390C;
    }
  }
}